<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Dev-House</title>
    <!-- External Link-->
    <link rel="stylesheet" href="/public/style.css">

    <!--  Icons -->
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Chakra+Petch&family=Exo:wght@300&family=IBM+Plex+Serif:wght@300&family=Philosopher&family=Quicksand:wght@500&family=Yanone+Kaffeesatz:wght@300&family=Zilla+Slab:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon_io/site.webmanifest">

    <!-- JS links -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <script src="jquery-3.5.1.min.js"></script>

</head>
<body>
    
    <div class="container">
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="navigation-brand">
                <a href="#">
                    <img src="/public/Logo/logo1.png">
                    </a>
                </div>
            <ul class="menu">
                <li><a href="index.html" class="menu-btn">Home</a></li>
                <li><a href="Location.html" class="menu-btn">Location</a></li>
                <li><a href="Pricing.html" class="menu-btn">Pricing</a></li>
                <li><a href="#" class="menu-btn">Booking</a></li>
                <li><a href="#" class="menu-btn">About</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>    
    </div>
    </nav>
    
    <main>
        <section class="section-tag">
            <div>
                <div class="main-message">                  
                 <h1>The Dev House</h1>  
                 <p>
                     Your vision in the hands of Devs
                 </p>

                 <div class="cta">
                     <a href="#" class="button">Book now</a>
                 </div>

                </div>
            </div>
        </section>

        <form action="/action_page.php" style="max-width:500px;margin:auto">
  
            <div class="input-container">
              <i id="icon" class="fa fa-user icon fa-lg"></i>
              <input class="input-field" type="text" placeholder="Name" name="usrnm">
            </div>
          
            <div class="input-container">
              <i id="icon" class="fa fa-envelope icon fa-lg"></i>
              <input class="input-field" type="text" placeholder="Email" name="email">
            </div>
            
            <div class="input-container">
              <i id="icon" class="fas fa-key icon fa-lg"></i>
              <input class="input-field" type="password" placeholder="Password" name="psw">
            </div>

            <div class="input-container">
                <i id="icon" class="fas fa-phone icon fa-lg"></i>
                <input class="input-field" type="Telephone" placeholder="+27123456789" name="Tel-num">
              </div>

            <div class="input-container">
                <i id="icon" class="far fa-calendar-alt icon fa-lg"></i>
                <input class="input-field" type="date" placeholder="Tel-num" name="tel-num">
              </div>
          
            <button type="reset" class="btn">Cancel</button>
            <button type="submit" class="btn">Confirm</button>
          </form>
          
</main>


<!-- Professional footer -->
<footer>
    <footer class="footer-distributed">

        <div class="footer-left">
      <img src="/public/Logo/logo1.png">
            <h3>About <span>Dev-House</span></h3>

            
            <p class="footer-company-name"> &copy; 2021 Dev-House. All rights reserved.</p>
            <p class="footer-company-name">Created by <a href="https://karabolentsoe-personal-portfolio.netlify.app/">Karabo Lentsoe.</a></p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>47 Jan Van Melle street,
                     CW 4, Vanderbijlpark</span>
                    Gauteng, RSA</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>016 67 217 5868</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@email.com">support@email.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                We offer  .</p>
            <div class="footer-icons">
                <a href="#" class="Fb-icon"><i class="fa fa-facebook"></i></a>
                <a href="#" class="Twitter-icon"><i class="fa fa-twitter"></i></a>
                <a href="#" class="Ins-icon"><i class="fa fa-instagram"></i></a>
                <a href="#" class="LinkIn-icon"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="Ytube-icon"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
    
</footer>

<script src="/public/JavaScript/index.js" defer></script>
</body>
</html>