<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, user-scalabale=no, initial-scale=1.0,
        maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>The Dev is Alive / Dev House / Home</title>
        <!--Ion Icons-->
        <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
        <!--Google Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&display=swap">
        <!--External CSS-->
        <link rel="stylesheet" href="styling.css">

    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <div class="navigation-brand">
                    <a href="index.html">
                        <img src="Logo/logo1.png">
                        </a>
                    </div>

                    <div class="menu-icons open">
                        <i class="icon ion-md-menu"></i>
                    </div>

                    <ul class="navigation-list">
                        <div class="menu-icons close">
                            <i class="icon ion-md-close"></i>
                        </div>

                        <li class="navigation-item">
                            <a href="index.html" class="navigation-link current">Home</a>
                        </li>
                        <li class="navigation-item">
                            <a href="Location.html" class="navigation-link">Location</a>
                        </li>
                        <li class="navigation-item">
                            <a href="#" class="navigation-link">Pricing</a>
                        </li>
                        <li class="navigation-item">
                            <a href="#" class="navigation-link">Booking</a>
                        </li>
                        <li class="navigation-item">
                            <a href="#" class="navigation-link">About</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <section class="section-tag">
                <div>
                    <div class="main-message">
                     <h3>The Dev House</h3> 
                     <h1>Your vision in the hands of Devs</h1>  
                     <p>
                        
                     </p>
                     
                     <div class="cta">
                         <a href="#" class="button">Book now</a>
                     </div>
    
                    </div>
                </div>
            </section>
            <div class="title-heading">
                <h3>Our Pricing</h3>
                <h1>Web Development</h1>
            </div>

            <div class="columns">
                <ul class="pricing-content">
                    <li class="heading">Front-End</li>
                    <li class="price">R1100 - R1900</li>
                    <li>Design</li>
                    <li>Custom Photos</li>
                    <li>Copywrite/</li>
                    
                </ul>
            </div>
            

            <div class="columns">
                <ul class="pricing-content">
                    <li class="heading">Digital-Marketing</li>
                    <li class="price">R2000 - R3000</li>
                    <li>Digital Advertising</li>
                    <li>Email Marketing</li>
                    <li>Online Brochures</li>
                    
                </ul>
            </div>

            <div class="columns">
                <ul class="pricing-content">
                    <li class="heading">Back-End</li>
                    <li class="price">R5000 - R300,000</li>
                    <li>Backup client Data</li>
                    <li>Reporting: Statistics & Analytics</li>
                    <li>Security Set-up</li>                    
                </ul>
            </div>

            </main>
            <div>
           <footer>
                <p> &copy; 2021 Web-Devs. All rights reserved </p>
            </footer>
        </div>
    </body>
    </html>